<div class="doctor-wrapper">
  <div class="doctor-question"> What if my plant looks like this? </div>
  <div class="box-container-1">

    <div id="box-1" class="box">
      <div class="ailment"> Yellow pale leaves </div>
    </div>

    <div id="box-2" class="box">
      <div class="ailment">  Soft pliable leaves, green but droopy </div>
    </div>

    <div id="box-3" class="box">
      <div class="ailment"> Brown leaf tips  </div>
    </div>

  </div>

  <div class="box-container-2">

    <div id="box-4" class="box">
    <div class="ailment"> black spots or holes </div>
    </div>

    <div id="box-5" class="box">
      <div class="ailment">  Growing toward light </div>
    </div>

    <div id="box-6" class="box">
      <div class="ailment"> Brown streaks and looser leaves </div>
    </div>

  </div>
</div>




