<div class="care-header">
  <div class="title-header">
    <p id="top-ten">Top Ten Tips To Keep Your
    <br/>Plants Happy
    </p>
  </div>
</div>


<script>

  function getColor ()
  {document.getElementByClassName("nav-color")
    .style.transition-duration = "0"
  }
  getColor()
  console.log('working or nah')
</script>

<%= react_component 'CarePage', prerender: false %> 

