<div id="user-picture-background">

<div class="user-card">
  <img src="http://tinygarden-bucket.herokuapp.com/images/Users/boy.png" alt="izzy">
  <h1 id="hi-izzy"> Hi
  <%= current_user.name %>
  </h1>
  <p class="user-title">Founder, Tiny Garden</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
   
  </div>
  <p><button id="user-button">Contact</button></p>
</div>
</div>
<div id="content-user-column">
  <div class="display-flex-content">
    <div class="purchase-history">
    Purchase Histroy
    </div>
    <div class="profile-manage-reviews">
      Manage Reviews
    </div>
    <div class="edit-profile-section">
      Edit Profile
    </div>
  </div>
</div>
