
.care-header{
  height: 63.6vh;
  background-image: url("http://tinygarden-bucket.herokuapp.com/images/careheader.png");
  background-size: 100%; 
  background-repeat: repeat-x;
}
#top-ten {
  padding-top: 21vh;
}

.title-header {
  margin-left: 10rem;
  font-family: serif; 
  font-size: 35px;
  font-size: 5vh
}

#care-sub-nav {
  margin-top: 1%;
}

#care-sub-nav #sub-cont {
  list-style: none;
  text-align: center;
}
#care-sub-nav #sub-cont #subnav1,
#care-sub-nav #sub-cont #subnav2 {
  display: inline-block;
  width: 50%;
  height: 8.3vh;
  color: lightgrey;
  border-bottom: solid 0.6vh;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.2vw;
  margin-top: 2vh;
}

.orange {
  color: #FFB400;
  border: 1px solid black;
}

#care-sub-nav #sub-cont #subnav1:hover,
#care-sub-nav #sub-cont #subnav2:hover {
  cursor: pointer;
}


#care-sub-nav #sub-cont ,
#care-sub-nav #sub-cont {
  color:#FFB400;
  cursor: pointer;
}

#care-header{
  height: 473px;
  width: 100vw;
}

.article {
  display:flex;
  margin-left: 7rem;
  margin:5rem;
  justify-content: center;
}
.plant-pic {
  height: 277px;
}

.care-tips-title{
  font-family: serif;
  font-size: 36px;
  margin-left: 1.5rem;
  font-family: 'PT Serif', serif;
}

.care-tips {
  margin-left: 1.5rem;
  font-family: Lato;
}

.care-tips-summary {
  margin-left: 1.5rem;
  font-size: 18px;
  font-family: 'Lato';
  width: 55vw;
}

.read-more {
  font-family: Lato;
  margin-left: 1.5rem;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.read-more:hover{
  cursor:pointer;
  color: black;
}
.read-more a p {
  color: black !important;
}

.read-more a p:hover {
  color: black !important;
}
.section{
  justify-content: center;
  text-align:center;
  height: 7rem;
  text-decoration: underline;
  font-family: Lato;
  font-weight:bold;
  font-size: 1.7rem;
}
#load-more{
  width: 10rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.articles-true {
  color:#FFB400;  
}

.acticles-false {
  color: grey;
}

.doctor-true {
  color:#FFB400;
}

.doctor-false {
  color: grey;
}
